<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title">Edit <%= resource_name.to_s.humanize %></h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <div class="control">
              <%= f.input :username,
                  disabled: true,
                  wrapper: false,
                  label: "Username:",
                  input_html: { class: "input" },
                  label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :email,
                  autofocus: true,
                  wrapper: false,
                  label: "Email:",
                  input_html: { class: "input", autocomplete: "email" },
                  label_html: { class: "label" } %>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                  wrapper: false,
                  label: "Password: (Leave blank if you don't want to change it)",
                  input_html: { class: "input", autocomplete: "new-password" },
                  label_html: { class: "label" } %>
            </div>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %><br />
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                  wrapper: false,
                  label: "Confirm Password:",
                  input_html: { class: "input", autocomplete: "new-password" },
                  label_html: { class: "label" }%>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :current_password,
                  required: true,
                  wrapper: false,
                  label: "Current Password: (We need this to confirm your changes)",
                  input_html: { class: "input", autocomplete: "password" },
                  label_html: { class: "label" } %>
            </div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <%= f.button :submit, "Update", class: "button has-background-purple" %>
            </div>
          </div>
        <% end %>
        <h2 class="title is-4">Unhappy? Cancel your Account</h2>
        <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</section>
