<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title">Sign Up</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <div class="control">
              <%= f.input :username,
                  autofocus: true,
                  required: true,
                  wrapper: false,
                  label: "Username:",
                  input_html: { class: "input" },
                  label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :email,
                  required: true,
                  wrapper: false,
                  label: "Email:",
                  input_html: { class: "input", autocomplete: "email" },
                  label_html: { class: "label" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                  required: true,
                  wrapper: false,
                  label: "Password:",
                  input_html: { class: "input", autocomplete: "new-password" },
                  label_html: { class: "label" } %>
            </div>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %><br />
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                  required: true,
                  wrapper: false,
                  label: "Confirm Password:",
                  input_html: { class: "input", autocomplete: "new-password" },
                  label_html: { class: "label" }%>
            </div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <%= f.button :submit, "Sign Up", class: "button has-background-purple" %>
            </div>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
