<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <h1 class="is-size-3"><strong>New Game</strong></h1>
  <h1 class="is-size-3">Topic</h1>
  <p class="is-size-7">Choose the topic your TrivAI game should be about! It can be anything. (Except in the MVP, where it'll be predetermined lol)</p>
  <br>
  <div class="field">
    <div class="control">
      <%= f.input :topic, 
          autofocus: true,
          wrapper: false,
          label: false,
          input_html: { class: "input" }%>
    </div>
  </div>
  <br>
  <h1 class="is-size-3">Opponent</h1>
  <p class="is-size-7">Who from your friendlist should be the game-opponent? </p>
  <br>
  <div class="field">
    <div class="control">
      <div class="select">
        <%= f.input :player2_id,
          wrapper: false,
          label: false,
          as: :select,
          collection: @friends,
          input_html: { class: "select" } %>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <div class="control">
      <%= f.button :submit, "Create A New Game", class: "button has-background-purple" %>
    </div>
  </div>
<% end %>
